.counter_wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 15px;
 width: 400px;
 height: fit-content;
 background-color: white;
 padding: 20px;
 border-radius: 6px;
}

.button_control {
    width: 200px;
}

.count {
    font-size: 40px;
    font-weight: bold;
}
